.body {
    display: flex;
    flex-direction: column;
}

img {
    width: 250px;
    height: auto;
}
/*Css for head */
.header-image img {
    width: 600px;
    height: 600px;
    object-fit: contain;
}
header {
    background: #1F2937;
   
}
.head {
    background-color: #1F2937;
}
.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}
.head {
    display: flex;
    justify-content: space-around;
    
    align-items: center;
}

ul {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
ul li {
    list-style-type: none;
    font-size: 18px;
    color: #E5E7EB;
}
.hero-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-main p {
    font-size: 18px;
    color: #E5E7EB;
}
.btn {
    color: #F9FAF8;
    background: #3882f6;
    padding: 10px;
   /* border: 2px solid #F9FAF8;*/
    border-radius: 10px;
}


/*css of main part of the page*/
main {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    background: #F9FAF8;
}
main h2 {
    font-weight: 900;
    color: 1F2937;
    align-self: center;
}
.card img{
    border: 2px solid #3882f6;
    border-radius: 5px;
    object-fit: cover;
    width: 200px;
    height: 200px;
}
.card {
    display: flex;
    flex-direction: column;
}
.card p {
    width: 200px;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 60px;
}
/*css for quote section*/

section.quote{
    background: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px;
}
blockquote {
    color:#1f2937;
    font-style: italic;
    font-weight: lighter;
}
/*form part of page*/

.form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 70px 90px;
    padding: 20px;}
    

.form-text p,.form-text h2{
    border : 2px solid red;
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 0;
    margin-top:0;}
  /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}*/
.footer {
    background: #1F2937;
}